<p>Añadir comentario</p>
<p>
<form method="post" action="/quizes/<%= quiz.id %>/comments/">
	<input type="text" id="comment" name="comment[texto]" value="" placeholder="Escribe tu comentario">
	<button type="submit">Enviar</button>
</form>
</p>
