  	<form action="/quizes/answer" method="get">
    <p>Pregunta: <%= pregunta %></p>
    <p><input type="text" name="respuesta" placeholder="introduce tu respuesta" required="required"> <input type="submit" value="Enviar"></p>
    </form>
