<h2>Login</h2>

<form method="post" action="/login">
	<div class="field">
		<label for="login">Usuario:</label><br>
		<input type="text" name="login" id="login" placeholder="Usuario" size="30" />
	</div>
	<div class="field">
		<label for="password">Password:</label><br>
		<input type="password" name="password" id="password" placeholder="Password" size="30" />
	</div>
	<div class="actions">
		<input name="commit" type="submit" value="Login" />
	</div>
</form>
